---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";
const ProjectData = await getCollection("projects");
const custemJourneys = ProjectData.find(
  (entry) => entry.id === "custem-journeys",
);
const noExperienceJobs = ProjectData.find(
  (entry) => entry.id === "noexperiencejobs",
);
const detect = ProjectData.find((entry) => entry.id === "detect");
const trainerDemo = ProjectData.find((entry) => entry.id === "trainer-demo");
---

<Layout
  metaDescription="Bill Utaegbulam is a creative web designer and developer based in Irvine, California, specializing in Webflow and digital brand identities for small businesses."
  title="madewithbill. - Creative Web Development"
>
  <!-- Head Slot -->
  <link rel="sitemap" href="/sitemap-index.xml" slot="head" />
  <link rel="canonical" href="https://www.madewithbill.com/" slot="head" />
  <!-- Main Slot -->
  <header class="py-4">
    <div class="animate-gsap">
      <h1>Bill Utaegbulam</h1>
      <p class="mb-5">Creative Developer</p>
    </div>
    <div class="animate-gsap">
      <p>
        With a speciality in Webflow development, I offer a creative and
        technical skillset to create websites that elevate your brand's digital
        presence.
      </p>
      <a class="flex items-center gap-1 font-medium mt-4" href="/about">
        Learn More About Me
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#000000"
          viewBox="0 0 256 256"
          ><path
            d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
          ></path></svg
        >
      </a>
    </div>
  </header>
  <section class="animate-gsap pt-8">
    <h2>Selected Projects</h2>
    <div class="w-full md:flex md:flex-wrap gap-6">
      <!-- cuSTEM Journeys -->
      <ProjectCard
        src={custemJourneys?.data.thumbnail.src}
        alt={custemJourneys?.data.thumbnail.alt}
        heading={custemJourneys?.data.title}
        description={custemJourneys?.data.description}
        projectLink="./projects/custem-journeys"
        ariaLabel="See project details for cuSTEM Journeys"
      />
      <!-- Nex Jobs -->
      <ProjectCard
        src={noExperienceJobs?.data.thumbnail.src}
        alt={noExperienceJobs?.data.thumbnail.alt}
        heading={noExperienceJobs?.data.title}
        description={noExperienceJobs?.data.description}
        projectLink="./projects/noexperiencejobs"
        ariaLabel="See project details for NoExperienceJobs.io"
      />
      <!-- Detect.com -->
      <ProjectCard
        src={detect?.data.thumbnail.src}
        alt={detect?.data.thumbnail.alt}
        heading={detect?.data.title}
        description={detect?.data.description}
        projectLink="./projects/detect"
        ariaLabel="See project details for Detect.com"
      />
      <!-- Trainer Demo -->
      <ProjectCard
        src={trainerDemo?.data.thumbnail.src}
        alt={trainerDemo?.data.thumbnail.alt}
        heading={trainerDemo?.data.title}
        description={trainerDemo?.data.description}
        projectLink="./projects/trainer-demo"
        ariaLabel="See project details for the fitness trainer Webflow demo project"
      />
    </div>
  </section>
  <section class="animate-gsap py-8">
    <h2 class="mb-4">Contact</h2>
    <p>
      Interested in working together? You can reach me at
      <span>bill<span class="mail-to">y</span>@</span>madewith<span
        class="mail-to">eilish</span
      >bill.com
    </p>
  </section>
</Layout>
