---
import { Image } from "astro:assets";
const { src } = Astro.props;
const { alt } = Astro.props;
const { heading } = Astro.props;
const { description } = Astro.props;
const { projectLink } = Astro.props;
---

<article class="relative basis-3xs mb-8">
  <Image
    class="aspect-4/3 object-cover rounded-lg mb-4"
    height="100%"
    width="300px"
    src={src}
    alt={alt}
    format="avif"
  />
  <h3>{heading}</h3>
  <p class="text-neutral-500">{description}</p>
  <a class="absolute size-full top-0 left-0 z-10" href={projectLink}></a>
</article>
