---
import Layout from "../../layouts/Layout.astro";
import { getEntry, render } from "astro:content";
const ProjectData = await getEntry("projects", "detect");
// Call render() with the ProjectData entry
const { Content } = await render(ProjectData);
import { Image } from "astro:assets";
---

<Layout
    metaDescription={ProjectData?.data.metaDescription}
    title={ProjectData?.data.title}
>
    <header>
        <Image
            class="w-full h-70 object-cover rounded-md mb-8"
            height="100%"
            width="1200"
            src={ProjectData.data.heroImage.src}
            alt={ProjectData.data.heroImage.alt}
        />
        <h1>{ProjectData.data.title}</h1>
        <p class="text-gray-500 mb-4">{ProjectData?.data.description}</p>
        <ul class="flex gap-2 text-xs leading-none">
            {
                ProjectData.data.skills?.map((skill) => (
                    <li class="px-3 py-1 bg-gray-200 rounded-full">{skill}</li>
                ))
            }
        </ul>
    </header>
    <section class="py-8">
        <div class="mb-10">
            <Content />
            <a
                class="flex items-center gap-1 font-medium mt-4"
                href={ProjectData.data.siteURL}
                target="_blank"
                >Visit Website
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                >
                    <path
                        d="M204,64V168a12,12,0,0,1-24,0V93L72.49,200.49a12,12,0,0,1-17-17L163,76H88a12,12,0,0,1,0-24H192A12,12,0,0,1,204,64Z"
                    ></path>
                </svg>
            </a>
        </div>
        <div class="flex flex-col gap-4">
            {
                ProjectData.data.images.map((image) => (
                    <Image
                        class="w-full h-80 object-cover rounded-md"
                        height="100%"
                        width="1200"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
        </div>
    </section>
</Layout>
